<div class="border-2 border-red-600 flex flex-col justify-center items-center">

  <img class="p-2" src="\public\images\roofer.jpg" alt="Electrician img">

  <div class="">
    <button type=""
      class="bg-gray-700 text-gray-300 hover:text-green-600 text-sm mt-4 border rounded-lg px-4 w-full md:mx-2">Review</button>
    <button type=""
      class="bg-gray-700 text-gray-300 hover:text-green-600 text-sm mt-4 border rounded-lg px-4 w-full md:mx-2">Book</button>
  </div>
</div>