<div class="border-blue-400">
  <form>
    <label for="title">rating title:</label>
    <input type="text" id="title" required>

    <label for="title">rating snippet:</label>
    <input type="text" id="snippet" required>

    <label for="title">rating body:</label>
    <textarea id="body" required></textarea>

    <button>submit</button>
  </form>
</div>