<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel=“icon” type="image/x-icon" href="../public/stylesheets/images/dutyCALL.PNG" > -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <title>Duty Call | Register</title>   
</head>

<body class="bg-gray-900  flex flex-col justify-center items-center m-12">

    <h1 class="font-bold text-3xl text-yellow-600">Register</h1>
    <img src="/public/stylesheets/images/dutyCALL.PNG" class="w-32" />

<div class=" bg-gray-800 py-12 px-12 flex flex-col items-center border-b-2 border-l-2 border-gray-700 rounded-lg shadow-lg">

<!-- post route to register -->
<form id="register-form" class="">

    <div class="">
        <label class=""  for='name'>Name</label>
        <!-- name = name will connect name to server -->
        <input class=""  type='text' id='name' name='name' required>

        <label class="" for='email'>Email</label>
        <!-- name = email will connect name to server -->
        <input class="" type='email' id='email' name='email' required>
    </div>

    <div class="">
        <label class=""  for='name'>Password</label>
        <!-- name = name will connect name to server -->
        <input class=""  type='password' id='password' name='password' required>

        <label class="" for='address1'>Address 1</label>
        <!-- name = name will connect name to server -->
        <input class="" type='text' id='address1' name='address1' required>
    </div>

    <div class="">
        <label class=""  for='address1'>Address 2</label>
        <!-- name = name will connect name to server -->
        <input class=""  type='text' id='address2' name='address2'>

        <label class="" for='city'>City</label>
        <!-- name = name will connect name to server -->
        <input class="" type='text' id='city' name='city' required>
    </div>

    <div class="">
        <label class=""  for='state'>State</label>
        <!-- name = name will connect name to server -->
        <input class=""  type='text' id='state' name='state' required>

        <label class="" for='zipcode'>zipcode</label>
        <!-- name = name will connect name to server -->
        <input class="" type='text' id='zipcode' name='zipcode' required>
    </div>

        <!-- PHOTO UPLOAD SECTION -->
    <section>PHOTO UPLOAD SECTION HERE</section>
    
    <div class="">
        <button class="" type='submit'>Signup</button>
        <!-- use anchor to connect back to login page -->
        <a class="" href='/login'>Login</a>
    </div>
</form>

</div>

<script src="public/javascript/register.js"></script>
</body>
</html>


